<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangc.goodman.dao.UserDao">

    <insert id="insertUser" parameterType="com.hangc.goodman.entity.UserBean" useGeneratedKeys="true" keyProperty="id">
       INSERT ignore INTO user (name, phone,createtime,email)
		VALUES (#{name}, #{phone},#{createTime},#{email})
    </insert>

    <update id="updateUser" parameterType="com.hangc.goodman.entity.UserBean">
		update user set name=#{name},phone=#{phone},modifytime=#{modifyTime},email=#{email} where id=#{id}
	</update>

    <delete id="deleteUser">
		DELETE FROM user WHERE id = #{userid}
    </delete>

    <select id="queryAll" resultType="com.hangc.goodman.entity.UserBean">
        SELECT
			id,
			name,
			phone,
			createtime,
			modifytime,
			email
		FROM
			user
		ORDER BY
			id
		LIMIT #{offset}, #{limit}

    </select>

    <select id="queryByPhone" resultType="com.hangc.goodman.entity.UserBean">
        SELECT
			id,
			name,
			phone,
			createtime,
			modifytime,
			email
		FROM
			user
		WHERE
			phone = #{phone}
    </select>
    <select id="queryByName" resultType="com.hangc.goodman.entity.UserBean"> SELECT
		id,
		name,
		phone,
		createtime,
		modifytime,
		email
		FROM
		user
		WHERE
		name = #{name}</select>
</mapper>